HELP.md
.gradle
build/
logs/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
#src/main/resources/static/**
diagrams/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/test/resources/contracts/**
**/contracts/
.DS_Store
